@{
    ViewBag.Title = "More about us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Atchley Game Center is a newly formed recreational program to provide entertainment to the masses.  As the site grows we will update this page to show the progress.</p>
