@{
    ViewBag.Title = "Need some assistance?";
}
<h2 class="greentype">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@*street address*@
<address>
    
    Atchley Game Center<br />
    2925 Raven Court<br />
    Louisville, KY 40220<br />
    
    
</address>

@*direct phone number*@
<address>
    <span class="glyphicon glyphicon-earphone"></span>
    <abbr title="Phone">Direct:</abbr>
    502.555.4444
</address>

@*mobile phone number*@
<address>
    <span class="glyphicon glyphicon-phone"></span>
    <abbr title="Phone">Mobile:</abbr>
    502.555.5555
</address>

@*email address*@
<address>
    <span class="glyphicon glyphicon-envelope"></span>
    <strong>Email:</strong>   <a href="mailto:AtchleyGameCenter@gmail.com">AtchleyGameCenter@gmail.com</a><br />
</address>