@{
    ViewBag.Title = "Need some assitance?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Atchley Game Center<br />
    2925 Raven Court<br />
    Louisville, KY 40220<br />
    <abbr title="Phone">Phone:</abbr>
    502.555.5555
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:AtchleyGameCenter@gmail.com">AtchleyGameCenter@gmail.com</a><br />
</address>