@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron greenback" >
    <h1>Atchley Game Center</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to the Atchley Game Center</h2>
        <p class="greentype">
            Test Test Test Test
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="greentype">Build it from scratch</h2>
        <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    
</div>