@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron greenback" >
    <h1>Atchley Game Center</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="greentype>Welcome to the Atchley Game Center</h2>
        <p>
            Test Test Test Test
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="greentype">Our Apps</h2>
        <p>Check out these mobile apps we made using during our time at CodeLouisville</p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=atchley.chris.ronswansonquotes">Ron Swanson Quotes &raquo;</a></p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.chris.atchley.outofahat">Out Of a Hat &raquo;</a></p>
    </div>
    
</div>